In [9]:
import os
folder=r'D:\Ameyem\Bhugarbho\JOGMEC\ShotpointMap\Sarawak\\'
files=[f  for f in os.listdir(folder) if 'all.xlsx' in f]
files

['map-3_all.xlsx',
 'map1_all.xlsx',
 'map2_all.xlsx',
 'map4_all.xlsx',
 'map5_all.xlsx',
 'map6_all.xlsx',
 'map_c1_all.xlsx',
 'map_c2_all.xlsx',
 'map_c4_all.xlsx',
 'map_S1_all.xlsx',
 'map_S2_all.xlsx',
 'map_S3_all.xlsx',
 'map_S4_all.xlsx']

In [4]:
# df

In [12]:
import pandas as pd
# fig=plt.figure(figsize=(20,20))
props = dict(boxstyle='round', facecolor='wheat', alpha=0.5)
finaldf=pd.DataFrame()
for f in files:
#     if '7_1' in f or '7_3' in f:
        fname=folder+f
        df=pd.read_excel(fname)
        finaldf=pd.concat([finaldf,df])
finaldf=finaldf.sort_values(by='lno')

for lno in finaldf.lno.unique():
    print(lno)
#             if lno=='73-744':
    ldf=finaldf[finaldf.lno==lno]
    break
ldf
#                 if len(ldf['lno'])>1:
#                     plt.plot(ldf['X-Coord'],ldf['Y-Coord'],'.-')

#                     if abs(ldf['Y-Coord'].iloc[0]-ldf['Y-Coord'].iloc[1])>2000:
#                         plt.text(ldf['X-Coord'].iloc[0]-1000,ldf['Y-Coord'].iloc[0]+300,lno,bbox=props,fontsize=10,)
#                     else:
#                         plt.text(ldf['X-Coord'].iloc[0]-3000,ldf['Y-Coord'].iloc[0]-100,lno,bbox=props,fontsize=10,)
#                     for i,sp in enumerate(ldf['shotpoint']):
#                         plt.text(ldf['X-Coord'].iloc[i],ldf['Y-Coord'].iloc[i],str(sp),fontsize=8,)

#                 else:
#                     print('Single entry is there for ',ldf['lno'].iloc[0])
# plt.title(fname.split('\\')[-1].replace('.xlsx',''),fontsize=20,)
# # plt.axis('tight')
# plt.gca().set_aspect(1)

83-01

   Unnamed: 0    lno  shotpoint        X-Coord        Y-Coord
0          17  83-01        101  546804.795546  569225.496916
1          18  83-01        400  555359.525732  571190.313000
0          21  83-01        410  555828.391809  571209.416287
1          20  83-01       1123  576894.036088  576168.623880